Header add Access-Control-Allow-Origin "*"
Header add Access-Control-Allow-Headers "api-token,content-type,*"
HEader add Access-Control-Allow-Methods "PUT,POST,DELETE,GET,OPTIONS,*"

<IfModule mod_rewrite.c>
    RewriteEngine On
    
    RewriteCond %(REQUEST_FILENAME) !-d
    RewriteCond %(REQUEST_FILENAME) !-f
    RewriteCond %(REQUEST_FILENAME) !-l
    
    RewriteRule ^(.+)$ index.php [QSA,L]
</IfModule>